name: CD - Deploy to DEV

on:
  workflow_run:
    workflows: ["CI - DEV"]
    types:
      - completed

jobs:
  deploy-dev:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Write kubeconfig from secret
        shell: cmd
        run: |
          echo %DEV_KUBECONFIG_B64% > kubeconfig.b64
          certutil -decode kubeconfig.b64 kubeconfig.yaml
          set KUBECONFIG=%CD%\kubeconfig.yaml

        env:
          DEV_KUBECONFIG_B64: ${{ secrets.DEV_KUBECONFIG_B64 }}

      - name: Verify cluster access
        shell: cmd
        run: kubectl get ns

      - name: Deploy Backend to DEV
        shell: cmd
        run: |
          kubectl apply -f k8s/dev/backend-deployment.yaml
          kubectl apply -f k8s/dev/backend-service.yaml

      - name: Deploy Frontend to DEV
        shell: cmd
        run: |
          kubectl apply -f k8s/dev/frontend-configmap.yaml
          kubectl apply -f k8s/dev/frontend-deployment.yaml
          kubectl apply -f k8s/dev/frontend-service.yaml
          kubectl apply -f k8s/dev/frontend-ingress.yaml
