name: CI - DEV

on:
  push:
    branches:
      - develop

jobs:
  ci-dev:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show branch
        run: echo "Branch = $GITHUB_REF"

      - name: Show commit SHA
        run: git rev-parse --short HEAD
