name: CI - DEV

on:
  push:
    branches:
      - develop

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: CI completed
        run: echo "CI - DEV completed successfully"
