name: CI - DEV

on:
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Print commit SHA
        run: echo "CI running for commit $GITHUB_SHA"
