name: CI - QA

on:
  push:
    branches:
      - qa

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: CI marker
        run: echo "CI - QA completed successfully"
