name: CD - Deploy to DEV

on:
  push:
    branches:
      - develop

jobs:
  deploy-dev:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Git SHA
        shell: bash
        run: echo "GIT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Show SHA
        run: echo Deploying SHA=$GIT_SHA

      - name: Deploy backend to DEV
        run: |
          kubectl set image deployment/backend backend=backend-app:$GIT_SHA -n app-dev
          kubectl rollout status deployment/backend -n app-dev

      - name: Deploy frontend to DEV
        run: |
          kubectl set image deployment/frontend frontend=frontend-app:$GIT_SHA -n app-dev
          kubectl rollout status deployment/frontend -n app-dev
